#nav-menu{
    position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    left: 0;
    width: 10%;
    height: 99.7vh;
    background-color: #101010;
}

.link{
    display: block;
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    list-style: none;
    transition: color 0.4s;
    cursor: pointer;
    text-decoration: none;
    border: solid 0px red;
    outline: none;
}

#nav-menu div{
    position: relative;
    display: block;
    text-align: center;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 0px red;
}

#nav-menu li{
    display: block;
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    list-style: none;
    transition: color 0.4s;
    cursor: pointer;
    text-decoration: none;
}

#my-icon{
    display: block;
    width: 100%;
}

.link:hover{
    color: #ff0077;
    text-decoration: none;
}

#content{
    position: absolute;
    text-align: center;
    padding: 70px 0px 5px 0px;
    right: 0;
    width: 90%;
    border: solid 0px red;
    height: auto;
    /*background-image: url('/img/abhi.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;*/
}

#content::after{
    content: "";
    background: url('/img/abhi.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-attachment: scroll;*/
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.content-holder{
    display: block;
    position: relative;
    width: 75%;
    height: auto;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
    border: solid 0px blue;
}

.profile{
    width: 50%;
    left: 0px;
    border: solid 0px red;
}

.detail-box{
    display: inline-block;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}

.detail-box > label{
    display: block;
    color: rgb(200, 200, 200);
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
    border: solid 0px red;
    margin: 0px;
}

.detail-box > label > span{
    border: solid 0px rgba(180, 180, 180, 1);
}

.skill-box{
    width: 100%;
    background-color: #AAA;
    height: 24px;
    text-align: center;
    border-radius: 10px;
}


.skill-level{
    background-color: #0a74cc;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}


.detail-box > .detail{
    display: inline-block;
    width: 100%;
    border: solid 0px #ff0077;
    padding: 0px 3px 3px 20px;
    color: rgba(200, 200, 200, 1);
}

.skills{
    width: 50%;
    right: 0px;
    border: solid 0px green;
}

.flex-container{
    display: flex;
}

.flex-container > div{
    margin: 5px 5px 5px 5px;
    padding: 10px 7px 10px 7px;
}

.heading{
    display: block;
    text-align: left;
    letter-spacing: 2px;
    font-variant: small-caps;
    font-size: 24px;
    margin-bottom: 10px;
}

.heading > span{
    display: inline-block;
    border-bottom: solid 1px #ff0077;
    padding: 2px 7px 4px 7px;
}


.form-element{
    display: block;
    position: relative;
    padding: 10px 10px 10px 10px;
    border: solid 0px red;
}

.form-element > input{
    width: 100%;
    outline: none;
    padding: 6px 8px 6px 8px;
    color: #bbb;
    background-color: rgba(20, 20, 20, 0);
    border: 0px;
    border-bottom: solid 3px rgba(60, 60, 60, 1);
    border-radius: 3px;
    transition: border 0.5s;
}

.form-element > textarea{
    width: 100%;
    height: 120px;
    outline: none;
    padding: 6px 8px 6px 8px;
    color: #bbb;
    background-color: rgba(20, 20, 20, 0);
    border: solid 3px rgba(60, 60, 60, 1);
    border-radius: 3px;
    transition: border 0.5s;
}

.form-element > button{
    width: 100%;
    outline: none;
    padding: 15px 8px 15px 8px;
    color: #eee;
    background-color: #ff0077;
    border: solid 1px #ff0077;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: border 0.5s;
    cursor: pointer;
}

.form-element > input:focus{
    border-bottom: solid 3px #ff0077;
}

.form-element > input:focus::placeholder{
    color: #ff0077;
}

.form-element > textarea:focus{
    border: solid 3px #ff0077;
}

.form-element > textarea:focus::placeholder{
    color: #ff0077;
}

.social-icon{
    display: inline-block;
    position: relative;
    padding: 2px 20px 2px 20px;
}

.social-icon>a{
    color:#ccc;
}

.social-icon>a:hover{
    color: #ff0077;
}

@media screen and (max-width: 800px){
    #nav-menu{
        position: fixed;
        width: 100%;
        height: auto;
        padding: 10px 2px 10px 0px;
        z-index: +100;
    }

    #nav-menu div{
        position: relative;
        margin: 0 0 0 0;
        overflow: auto;
    }

    .link{
        display: inline;
        padding: 10px 20px 10px 20px;
    }

    #my-icon{
        display: none;
    }
    
    #content{
        box-sizing: border-box;
        position: absolute;
        margin: 0px 0px 0px 0px;
        width: 100vw;
    }


    .content-holder{
        width: 100%;
        padding: 5px 10px 5px 10px;
    }

    .flex-container{
        display: block;
    }

    .profile{
        width: 100%;
    }

    .skills{
        width: 100%;
    }

    

}
