#nav-menu{
    position: fixed;
    margin: 0 0 0 0;
    padding: 20 10 20 10;
    left: 0;
    width: 10%;
    height: 99.7vh;
    background-color: #101010;
}

#nav-menu div{
    position: relative;
    display: block;
    text-align: center;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid 0px red;
}

#nav-menu li{
    display: block;
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    list-style: none;
    transition: color 0.4s;
    cursor: pointer;
}

#nav-menu li:hover{
    color: #ff0077;
}

#content{
    position: absolute;
    text-align: center;
    padding: 70px 5px 50px 5px;
    right: 0;
    width: 90%;
    border: solid 0px red;
    height: 100vh;
}

.content-holder{
    display: block;
    position: relative;
    width: 75%;
    height: auto;
    padding: 5px 20px 5px 20px;
    border: solid 0px blue;
}


@media screen and (max-width: 800px){
    #nav-menu{
        position: fixed;
        width: 100%;
        height: auto;
        padding: 10px 2px 10px 0px;
        z-index: +100;
    }

    #nav-menu div{
        position: relative;
        margin: 0 0 0 0;
        overflow: auto;
    }

    #nav-menu li{
        display: inline;
        padding: 10px 20px 10px 20px;
    }
    
    #content{
        position: absolute;
        margin: 0 0 0 0;
        right: 0;
        width: 100%;
        height: 100vh;
    }

    .content-holder{
        width: 100%;
        padding: 5px 10px 5px 10px;
    }
}